@import '_vars.scss';
.layout-content{
  height: 100vh
}
.grid-layout{
  width:100%;
  max-width: 1920px;
  margin: 0 auto;
}
.border{
  border: 1px solid black
  
}
.blue{
  background-color: $blue
}
.green{
  background-color: $green
}
